/*GERAL*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: rgb(13, 13, 13);
    color: white;
    text-align: justify
}
body{
    height: 100vh;
    text-align: justify;
}
.interface{
    max-width: 1920px;
    margin: 0 auto;
}
.flex{
    display: flex;
}


.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(164, 8, 196);
    border: 0;
    border-radius: 30px;
    cursor: pointer;   
    transition: .2s;
    color: #0D0D0D;
}
.btn-contato button:hover, form .btn-enviar input{
    box-shadow: 0px 0px 8px rgba(119, 0, 255, 0.692);
    transform: scale(1.05);
}
h2{
    padding-top: 10%;
    color: #b160f3;
    font-size: 38px;
    text-align: center;
}
/* CABEÇALHO*/
header{
    padding: 40px 4%;
}

header > .interface{
    display:  flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #953bdf;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding:  0 40px;
}

/* TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.titulo{
    width: 220px;
    border-right: 2px solid rgba(255, 255, 255, 0.733);
    color: #b160f3;
    font-size: 42px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden
}

.digitar-e-piscar{
    animation: piscar 1s infinite normal, digitar 4s steps(25) 1s normal;
}

@keyframes piscar {
    from {
      border-right-color: rgba(255, 255, 255, 0.733);
    }
    to {
      border-right-color: transparent;
    } 
  }

  @keyframes digitar {
    from{
        width: 0px;
    }
    to{
        width: 220px;
    }
  }

.txt-topo-do-site{
    margin: 40px 0;
    color: white;
}

.topo-do-site .btn-contato{
    display:  flex;
    align-items: center;
    justify-content: space-around;
    
}
/*ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.especialidades .especialidades-box{
    padding: 40px;
    transition: 0.2s;
    border-radius: 20px;
    margin-top: 45px;
    width: 25%;
    height: 25%;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(119, 0, 255, 0.690);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: rgb(164, 8, 196);
}
.especialidades .especialidades-box h3{
    font-size: 26px;
    margin: 15px 0;
    color: #b160f3;
}
.especialidades .especialidades-box p{
    text-align: justify;
    color: white;
}

/*PROJETOS*/
    section.portfolio{
        padding: 80px 4%;
    }
    section.portfolio .flex{
        justify-content: space-around;
        margin-top: 40px;
    }

    .img-port{
        width: 360px;
        height: 460px;
        background-size: cover;
        background-position: 100% 0%;
        transition: 8s;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
    }

    .img-port:hover{
        background-position: 100% 100%;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        background-color: #0d0d0dc2;
        color: #b160f3;
        opacity: 0;
        box-shadow: 0 0 5px 10px #ffffff1d;
    }


    .overlay:hover{
        opacity: 1;
        transition: .5s;
    }
/*FORMULARIO*/
section.formulario, h2.subtitulo{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

form input, form textarea{
    width: 100%;
    background-color: #383838;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 40px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    text-align: center;
    background-color: #953bdf;
    color: #0D0D0D;
    font-weight: 700;
    cursor:  pointer;
    transition: 2.5s;
}

/*RODAPÉ*/
footer {
	background-color: #0D0D0D;
	color: #422559;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*JS*/

@media screen and (max-width: 1020px) {
    /*Classes gerais*/
    .flex{
        flex-direction: column;
    }

    /*Cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }

    /*Topo do site*/
    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    .titulo{
        width: 160px;
        font-size: 30px;
        
    }

    @keyframes digitar {
        from{
            width: 0px;
        }
        to{
            width: 160px;
        }
      }
    
}